#========================================================================================================================
# FOR DOCKER
#========================================================================================================================

/docker-compose.yaml
/azurite_data/

#========================================================================================================================
# FOR ANGULAR
#========================================================================================================================

# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


#========================================================================================================================
# FOR ASP .NET CORE API
#========================================================================================================================

# Visual Studio i VS Code
.vscode/
*.vs/

# Kompilowane pliki binarne i katalogi
bin/
obj/
out/
debug/
release/

# Logi i diagnostyka
logs/
*.log
*.tlog
*.cache

# ASP.NET Core
#appsettings*.json
secrets.json
.env
*.db
*.db-shm
*.db-wal

# Ef Core Migrations
Migrations/

# Pliki tymczasowe
*.tmp
*.bak